#grid {
    display: grid;
    grid-template-areas: "servicios      servicios     servicios"
        "card-fade card-barberia card-platinado"
        "publicidad     publicidad    publicidad";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20vh 70vh 20vh;
    justify-items: center;
}

.servicios {
    grid-area: servicios;
    height: 100%;
    width: 100%;
    margin-top: 3vh;
    text-decoration: underline;
}

.card-fade {
    grid-area: card-fade;
    height: 300px;
    width: 300px;
    align-items: center;
}

.card-barberia {
    grid-area: card-barberia;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.card-platinado {
    grid-area: card-platinado;
    height: 300px;
    width: 300px;
}

p {
    grid-area: descripcion;
}


div section {
    position: relative;
    margin-top: 100px;
}

.banner {
    grid-area: publicidad;
    width: 70%;
    height: 200px;
    border: 3px solid white;
    position: relative;
    margin-bottom: 200px;
    margin-top: auto;


    animation-name: banner;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


.Grid__Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

h4{
    margin-top: 20px;
}

.redes {
    grid-column: span 1;
}

/**.redes {
    margin-inline-end: 400px;
    margin-block-start: 100px;
}**/
